<div id="<%= dom_id task %>">
  <table>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Category</th>
    </tr>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.description %></td>
      <td><%= task.status %></td>
      <td><%= task.category_id %></td>
    </tr>
    </table>

</div>
